.signup_container {
	width: 100%;
	min-height: 100vh;
	background: radial-gradient(#333,#000);
	/* background-image: url("../../Assets/flower.jpg"); */
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {
	width: 58%;
	height: 570px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 100;
}

.left h1 {
	margin-top: 0;
	color: white;
	font-size: 35px;
	align-self: center;
}

.right {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image:linear-gradient(to right,
	#462523 0,
	#cb9b51  22%,
	#f6e27a 45%,	
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 100;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
	color:#282525;
	border-bottom: 4px solid black;
}

.input {

	border: none;
        background: none;
        outline: none;
	width: 100%;
	/* width: 370px; */
	padding: 15px;
	color: whitesmoke;	
	border-radius: 10px;
	background-color: #282525;
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.golden_btn
 {
	border: none;
	outline: none;
	padding: 12px 0;
	background-image:linear-gradient(to right,
        #462523 0,
        #cb9b51  22% ,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
        );
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.black_btn {
	background-color: black;
	border: none;
	outline: none;
	padding: 12px 0;
	color: white;
	margin: 10px;
	border-radius: 20px;
	width: 44%;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}


@media (max-width:900px){
	.input{
	  width: 120%;
	}
	.signup_form_container {
		width: 68%;
		display: flex;
		flex-direction:column-reverse;
		height: 590px;

	}
	.form_container h1 {
		font-size: 40px;
	}
	.left h1 {
		font-size: 30px;
	}
}

@media (max-width:700px){
	.input{
		width: 140%;
	  }
	  .form_container h1 {
		font-size: 30px;
	}
}
@media (max-width:580px){
	.input{
		width: 100%;
	  }
}

@media (max-width:390px){
	.input{
		width: 76%;
		
	  }
	  .form_container h1 {
		font-size: 24px;
	}
	.left h1 {
		font-size: 19px;
	}
}